// Colors
$color1: #ffffff;
$color2: #000000;
$color3: #201D48;
$color4: #8D8D8D;
$color5: #F8F6FE;
$color6: #FF8900;
$color7: #4FDAF8;
$color8: #3F3C53;
$color9: #494949;
$color10: #D6D6D6;
$color11: #F37321;
$color12: #515154;
$color13: #A7A7AD;
$color14: #292376;

// Fonts
$kanit: "Kanit";
$judson: "Judson";
$Josefin: "Josefin Sans";